@font-face {
  font-family: 'rational';
  src: url('../fonts/rene_bieder_-_rational-light-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder_-_rational-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'rational';
  src: url('../fonts/rene_bieder_-_rational_light_italic-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder_-_rational_light_italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'rational';
  src: url('../fonts/rene_bieder_-_rational-book-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder_-_rational-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'rational';
  src: url('../fonts/rene_bieder_-_rational-semibold-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder_-_rational-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}