  .section.gold
    .page-wrapper.pt-4.pt-sm-0
      .page-header.page-header-med
        h2 Brands
        h3 I've had opportunity to work with
        .logos
          .mt-5
            .brand-logo.logo-sen
            .brand-logo.logo-psn
            .brand-logo.logo-fb
          .mt-2.mt-sm-5
            .brand-logo.logo-bmw
            .brand-logo.logo-mb
