.max-layout-width.cols-same-height
  .container-fluid.mb-5.pb-3
    .row
      each article, ind in articles
        if ind < 2
          .col-lg-6.col-md-6.col-sm-12.mb-3
            .post-card.h-100
              a(href="/blog/" + article.slug)
                .card-img
                  img(src=article.image, alt=article.description)
                .card-caption
                  h5.heading.lg= article.title
                  p
                    small.meta= article.prettyDate
                  p
                    =article.description
                    | 
                    span.pseudo-link 
                      span  Read on.
