block content

  footer.footer.text-center
    .container-fluid
      .row
        .col
          .d-flex.justify-content-between
            p Copyright &copy; #{siteInfo.currentYear}
            p
              a.fun-link(href="//dev.tapirio.com")
                img.icon(src="/images/logo-tapirio.svg")
                | 
                | Built on 
                span Tapirio

  .scroll-to-top.fixed.hidden
    img(src="/images/icon-up.svg", alt="Scroll up")