nav.navbar.navbar-expand.navbar-dark
  a.navbar-brand(href="/")
    img(src="/images/vm-logo.svg", alt=siteInfo.blog.siteName)
    img.on-hover(src="/images/vm-logo-c.svg", alt=siteInfo.blog.siteName)

  ul.navbar-nav.ml-auto
    li.nav-item.d-none.d-sm-block
      a.nav-link(href='/' class=(path.length < 2 ? 'active' : '')) Home
    li.nav-item.ml-0.ml-sm-5
      a.nav-link(href='/blog/' class=(path.includes('blog') ? 'active' : '')) Blog
    li.nav-item.ml-5
      a.nav-link(href='/about/' class=(path.includes('about') ? 'active' : '')) About
          