:root {
  --color-primary: #2c3e50;
  --color-accent: #3498db;
  --color-text: #333;
  --color-background: #fff;
}

.theme-professional {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
}
.theme-professional h1, .theme-professional h2, .theme-professional h3, .theme-professional h4, .theme-professional h5 {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

.btn-accent {
  background-color: var(--color-accent);
  color: white;
}
.btn-accent:hover {
  background-color: var(--color-accent);
}
