extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col.col-md-8
        h2 About Tapirio
        p Tapirio is an open-source platform that allows to rapidly create and easily maintain websites, blogs and online stores run on the stack that developers love. 
        
        p We needed a developer-friendly tool for building websites quickly. The existing tools are either too simplistic (not allowing sufficient flexibility for developers/overly restrictive) or based in languages like PHP that are no longer favored by the developer community.

        p The name is a play on the animal called tapir, which contains “api” in it (wink to the dev community). As Japanese legend has it, tapirs are capable of eating humans’ nightmares. So if you ever experienced a horror of web development using a clunky framework, you may find comfort in using Tapirio for your next web project.


  include partials/footer