extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col.col-md-8
        h2 About This Site
        p Vasily justed wanted a fancy website, so he got to work. Frankly, the first time the proverbial shovel "hit the ground" was all the way in 2016. Here we are now. It's work in progress. I would highly value your feedback.
        
        h3 "There is a quote I heard recently, here it is..."
        
        p Digital (no)mad, world traveler, techie, design nut, musician, rookie philosopher, "this" guy.

        img.img-fluid(src="/images/florida-trio.jpg")


  include partials/footer