extends layout

block content
  include partials/header
  
  .container.page-header
    .row
      .col
        .text-center.mt-4.mb-4
          h2 About
          p.meta.compact Who is Vasily Myazin and what has he done so far, and what he’s doing now

  .section.odd
    .container.page
      .row
        .col-md-6
          h3.mb-1 Who Is Vasily?
          p.meta It’s time to unveil the person behind the name
          img.img-about.float-none.float-sm-left.mr-4.mb-4(src="/images/vasily-cult.jpg", alt="Vasily's Photo")

          p Born in Lipetsk, Russia in the decade of the sunsetting of the Soviet Union Vasily spent his formative years in creative environments. Surrounded by writers, artists, designers, programmers he was bound to be on the crossroads of creativity.
          
          p Vasily embodies the idealistic age of yore and the pragmatic fast-paced new era of rapidly developing technology. Naturally curious he connects the dots between tribal mysticism, applied phylosophy, wide-range frequency beats and graphical user interface. 
          p Yes, he does feel a bit odd describing himself in third person.

        .col-md-6
          h4 Creative, Thoughtful, Motivating        
          p In terms of labels (or #hashtags): world traveler, digital (no)mad, techie, design nut, musician, rookie philosopher, mentor for those who are stuck.
          .flex-parent
            .image-accordeon
              ul.list-unstyled
                li
                  img(src="/images/about/vasily-look-phone.jpg", alt="V looks at this phone")
                li
                  img(src="/images/about/vasily-cubertura.jpg", alt="V looks at this phone")
                li
                  img(src="/images/about/vasily-office-full.jpg", alt="V looks at this phone")
                li
                  img(src="/images/about/simao-62.jpg", alt="V looks at this phone")

  .jumbotron.jumbotron-fluid.foliage.mb-0
    .container
      .row
        .text-center.w-100
          img.img-about.img-about-2(src="/images/vasily-cult-2.jpg", alt="Vasily's Photo")
      .row.offset-12
        .col-md-4.col-bg-dark.mb-4
          h4 Vagabonding & Galavanting
          p After moving to the USA from Russia in 2002, I lived in Los Angeles, San Francisco, and New York, with short stints in a number of other US cities.
          p I began traveling more regularly in 2016, and visited Canada, Mexico, Colombia, Brazil, Spain, Germany, The Netherlands, Thailand, Japan among others.
          p I made a lot of friends along the way and became deeply interested in cultures and languages I came into contact with.

        .col-md-4
          .text-center.push-12
            h4.mb-3 Social Media
            ul.list-inline.d-flex-inline.social-links
              each socialLink, socialNet in siteInfo.social
                if socialNet !== "telegram"
                  li.list-inline-item
                    a.social-link.white.align-middle(href=socialLink)
                      ion-icon(name='logo-' + socialNet)
              li.list-inline-item
                a.social-link.align-middle(href=siteInfo.social.telegram)
                  img.social-icon(src="/images/social/logo-telegram.svg")
            p.quote.mt-5 "If you have to wonder about it, choose to trust your intuition."

        .col-md-4.col-bg-dark.mb-4
          h4 Creative Outlets
          p Since I was 3 years old I was into drawing using a variety of mediums: pen sketching, ink, markers, color pencials, watercolors, goache, acrilics, and eventually iPad with a digital pen (my current method). See more on <a href="https://www.instagram.com/details_sketchy">@details_sketchy on Instagram</a>.
          p In years 2002-2013 I actively produced music in the style of psy-trance under the moniker Konflux (<a href="https://www.youtube.com/channel/UC6-63lzHmIDrX5CNOQBFChw">YouTube</a>).
          p 2012-2017 I had a project called Synter dedicted to a house/techno + electro/trance blend of genres.
      .row
        .col-md-6.offset-md-3.col-bg-light.my-5.with-shadow
          h3 How Can I Help You?
          p With my life experience I can inspire you to:
          ul.mb-0
            li travel
            li work remotely
            li learn a new language
            li learn to create podcasts
            li kick the habits that don’t serve you
            li reinvent yourself

        .col-md-6.offset-md-3
          .text-center.mb-4
            h5 Ready to talk and see if we are a good fit?
          a.btn.btn-accent.btn-lg.btn-block.button(href='/contact')
            |  Get In Touch With Me


  include partials/footer