extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col.col-md-8.offset-md-2
        h2 About This Site
        p Vasily justed wanted a fancy website, so he got to work. Frankly, the first time the proverbial shovel "hit the ground" was all the way in 2016. Here we are now. It's work in progress. I would highly value your feedback.

        p Here is my attempt at quoting my wise self:
        
        h3 "If you have to wonder about it, choose to trust your intuition."

        h4 Who is Vasily?
        
        p Digital (no)mad, world traveler, techie, design nut, musician, rookie philosopher, "this" guy.

    .row
      .col
        .text-center.mb-4
          ul.list-inline.d-flex-inline.social-links
            li.list-inline-item.ml-4
              a.social-link.align-middle(href=blogInfo.social.twitter)
                ion-icon(name='logo-twitter')
            li.list-inline-item
              a.social-link.align-middle(href=blogInfo.social.instagram)
                ion-icon(name='logo-instagram')
            li.list-inline-item
              a.social-link.align-middle(href=blogInfo.social.linkedin)
                ion-icon(name='logo-linkedin')

    .row
      .col.col-md-8.offset-md-2
        img.img-fluid(src="/images/florida-trio.jpg")

  include partials/footer