extends layout

block content
  include partials/header
  
  .container.my-5.py-3
    .row
      .col.col-lg-6.offset-lg-3
        .text-center
          h2 Blog
          p.light-text.mb-0 Vasily Myazin’s thoughts in written form are collected here.

  .container-fluid.max-body-width
    .row
      include partials/_featured-posts.pug
      
  .container.page
    .row
      .col.col-lg-6.offset-lg-3
        ul.article-list.list-unstyled
          each article, ind in articles
            if ind >= 2
              li
                a(href="/blog/" + article.slug)
                  ion-icon(name='document-text')
                  =article.title
                  | 
                  small.text-nowrap.meta= article.date

        .search-container
          input#search.form-control(type='text' placeholder='Search posts' aria-label='Search posts'  autocomplete="off")
          i.gg-close.clear-search-input
        ul.list-unstyled.search-results

        .mb-5.pb-5

  include partials/footer