extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col
        h2 Contact
        p Email your feedback and questions at <a href="mailto:contact@vasilym.com">contact@vasilym.com</a>.
        p Follow me on <a href=#{siteInfo.social.twitter}>Twitter</a> for an occasional dose of casual wisdom.

  include partials/_calendly

  include partials/footer