extends layout

block content
  include partials/header
  
  .container.page-header
    .row
      .col
        .text-center.mt-4.mb-4
          h2.mb-4 Contact
          p Email your questions and feedback at <a href="mailto:contact@vasilym.com">contact@vasilym.com</a>.
          p.meta Follow me on <a href=#{siteInfo.social.twitter}>Twitter</a> for an occasional dose of casual wisdom.

  include partials/_calendly

  include partials/footer