extends layout

block content
  include partials/header

  .container-fluid
    .row.even.my-5
      .col-12.col-md-6.mb-3.mb-sm-0
        .d-flex.justify-content-center.align-items-center.flex-column.h-100
          .page-intro
            h1 I Will Help You Find Freedom and Sanity In The Digital World
            p I work on digital products, apply UX design, develop language learning techniques, record podcasts all while traveling the world.
            p Here I invite like-minded people to get coaching, collaborate, explore work opportunities, and friendship.
            .subtext
              p.mb-4
                img.align-text-bottom(src="/images/pin.svg")
                |&nbsp;
                | Currently in #{siteInfo.project.location}
            p
              a.btn.btn-accent.btn-lg#mc-embedded-subscribe.button(href="mailto:contact@vasilym.com?subject=Inquiry from Vasily\'s website") Get In Touch With Me

      .col.col-md-6
        .d-flex.justify-content-center.align-items-center.flex-column.h-100
          img.intro-photo.rounded(src="/images/portrait-vasily.jpeg", alt="Vasily Simon Myazin")

  include partials/_blog-digest-2

  .section.even.contact
    .page-wrapper.text-center
      .page-header.page-header-med
        h4.mb-4
          .tooltip-zone.d-inline-block.position-relative
            |Get in touch
            img.pl-3(src="/images/avatar.svg", alt="Little Man")

            .vm-tooltip
              | What's good?

        a.btn.btn-primary.btn-lg(href="mailto:contact@vasilym.com?subject=Inquiry from Vasily\'s website") contact@vasilym.com
        .col-md-4.offset-md-4
          p I’m interested in chatting about design and user experience solutions.<br>Also, about life and alleviating suffering.

  include partials/_calendly

  include partials/footer