extends layout

block content
  include partials/header

  .section.video.even
    .page-wrapper
      .page-header
        h1 Vasily Myazin
        h3 Digital Product Refinement
      .video-holder
        video(autoplay loop muted preload='auto' playsinline='playsinline')
          source(src='/videos/VasilyWorkReel.mp4' type='video/mp4')
  .section.even
    .page-wrapper
      .page-callout
        p Digital Product Specialist with 10+ years of experience. Currently based in New York City, working as Product Designer. Played key role in a variety of Silicon Valley startups. A wearer of many digital hats.
        .subtext
          p
            a(href='https://www.linkedin.com/in/vmyazin/')
              img.social(src='images/icon-linkedin.svg' alt='LinkedIn')
              |  
              span LinkedIn
  .section.odd
    .page-wrapper
      .page-header.page-header-med
        h2 Expertise
        .illustration
          img(src='images/venn.svg')
  .section.gold
    .page-wrapper
      .page-header.page-header-med
        h2 Brands
        h3 I've had opportunity to work with
        .logos
          .row
            .brand-logo.logo-sen
            .brand-logo.logo-psn
            .brand-logo.logo-fb
          .row
            .brand-logo.logo-bmw
            .brand-logo.logo-mb
  .section.even
    .page-wrapper.text-center
      .page-header.page-header-med
        h3 Get in touch
      a.large.secondary.hollow.button(href='mailto:contact@vasilym.com') contact@vasilym.com
  script(type='text/javascript' src='javascripts/website.js')
  footer.footer.text-center
    .row
      p Copyright © 2020  

  include partials/footer