extends layout

block content
  include partials/header

  .container-fluid
    .row.position-relative.video.even
      .page-wrapper
        .page-header
          h1 Vasily Myazin
          h3 Digital Product Refinerée
        .video-holder
          video(autoplay loop muted preload='auto' playsinline='playsinline')
            source(src='/videos/VasilyWorkReel.mp4' type='video/mp4')
  .section.even
    .page-wrapper
      .page-callout
        p Digital Product Specialist with 10+ years of experience. Currently based on the cloud, working as Product Designer. Played key roles at a variety of Silicon Valley and New York City startups. A wearer of many digital hats.
        .subtext
          p.mb-4
            a(href=blogInfo.social.linkedin)
              img.social(src='images/icon-linkedin.svg' alt='LinkedIn')
              |  
              span LinkedIn
          p
            img.align-text-bottom(src="/images/pin.svg")
            |&nbsp;
            | Currently based in Miami

  .section.odd(style="display: none")
    .page-wrapper
      .page-header.page-header-med
        h2 Expertise
        .illustration
          img.img-fluid(src='images/venn.svg')

  .section.scheme
    .page-wrapper
      .page-header.page-header-med
        h2 Out of clutter unearth clarity
        .illustration
          img.img-fluid(src='images/scheme.svg')

  .section.gold
    .page-wrapper.pt-4.pt-sm-0
      .page-header.page-header-med
        h2 Brands
        h3 I've had opportunity to work with
        .logos
          .mt-5
            .brand-logo.logo-sen
            .brand-logo.logo-psn
            .brand-logo.logo-fb
          .mt-2.mt-sm-5
            .brand-logo.logo-bmw
            .brand-logo.logo-mb

  .section.even.contact
    .page-wrapper.text-center
      .page-header.page-header-med
        h4.mb-4
          .tooltip-zone.d-inline-block.position-relative
            |Get in touch
            img.pl-3(src="/images/avatar.svg", alt="Little Man")

            .vm-tooltip
              | What's good?

        a.btn.btn-primary.btn-lg(href="mailto:contact@vasilym.com?subject=Inquiry from Vasily\'s website") contact@vasilym.com
        .col-md-4.offset-md-4
          p I’m interested in chatting about design and user experience solutions.<br>Also, about life and alleviating suffering.

  include partials/footer